*.swp
__pycache__
*.pyc
old
*.tmpsh
# App artifacts
/**/_build
# The directory Mix downloads your dependencies sources to.
/**/deps
# Also ignore archive artifacts (built via "mix archive.build").
/**/*.ez
# If you run "mix test --cover", coverage assets end up here.
/**/cover/

# Where 3rd-party dependencies like ExDoc output generated docs.
/**/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# Generated on crash by the VM
erl_crash.dump

/**/.DS_Store

src/priv/plts/*.plt
src/priv/plts/*.plt.hash
